/* Leckerli One */
.logo { 
  font-family: "Leckerli One", cursive;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: auto;
  color: var(--accent-pink);
  
}

/* Baloo 2 */
.heading-md {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: auto;
  font-family: "Baloo 2", sans-serif;
  color: var(--text-heading);
}

.heading-sm {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: auto;
  font-family: "Baloo 2", sans-serif;
  color: var(--text-heading);
}

/* Open Sans */
.body-md { 
  font-weight: 500;
  font-size: 1rem;
  line-height: auto;
  font-family: "Open Sans", sans-serif;
}

.body-sm {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: auto;
  font-family: "Open Sans", sans-serif;
  color: var(--text-body);
  }

.body-xs {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: auto;
  font-family: "Open Sans", sans-serif;
  /* color: var(--text-body); */
}

:root {
  --brand-color-light: #59B2FF;
  --brand-color-mid: #3487CF;
  --brand-color-dark: #1D6FB6;

  --accent-purple: #B259FF;
  --accent-fuschia: #FF59F9;
  --accent-pink: #FF598B;
  --accent-orange: #FF8B59;
  --accent-yellow: #FFCD59; 
  --accent-lime: #E1FF59;
  --accent-green: #59FF91;
  --accent-cyan: #59FFF9;
  --accent-navy: #6A59FF;

  --color-danger:  #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
}

#brand-color-light {
  background-color: var(--brand-color-light);
}

#accent-navy {
  background-color:var(--accent-navy);
}

#accent-purple {
  background-color: var(--accent-purple);
}

#accent-fuschia {
  background-color: var(--accent-fuschia);
}

#accent-pink {
  background-color: var(--accent-pink);
}

#color-danger {
  background-color: var(--color-danger);
}

#accent-orange {
  background-color: var(--accent-orange);
}

#accent-yellow  {
  background-color: var(--accent-yellow);
}

#accent-lime {
  background-color: var(--accent-lime);
}

#accent-green {
  background-color: var(--accent-lime);
}

#accent-cyan {
  background-color: var(--accent-cyan);
}