#app {
  display: grid;
  grid-template-columns: 27.5rem 51.25rem;
  height: 100vh;
  margin-top: 1.25rem;
}

main {
  overflow: auto;
  justify-content: space-between;
  border-radius: .75rem;
  background-color: var(--shape-body);
  
  & .main-container { 
    margin-left: 8.125rem;
    margin-right: 8.125rem;
    margin-block: 5rem;
  }
}

main::-webkit-scrollbar{
  width: 15px;
}

.h2icone {
  align-items: center;
  display: flex;
  gap: .75rem;
  margin-bottom: 1.5rem;
}

.h2icone img {
  height: 1.5rem;
  width: 1.5rem;
}

.main-container {
  font-family: var(--text-body);
  font: var(--shape-body);  
}

body {
  overflow: hidden;
  background-color: var(--shape-background);
}

h2 {
  margin-bottom: 2.5rem;
}

h3 {
  display: flex;
  gap: 2px;
  padding: 2px;
}